
.footer{
    margin-top: auto; /* Pushes the footer to the bottom of the main content */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items vertically */
    gap: 100px; /* Space between buttons */
  }