.fp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #f5f5dc;
}

.fp-title {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Brush Script MT', cursive;
}

.fp-form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
}

.fp-textarea {
    margin-bottom: 20px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.fp-submit-button {
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    background-color: #ffcccb;
    border: none;
    cursor: pointer;
}

.fp-signup-url:hover {
    text-decoration: underline;
}

.fp-error-message {
    color: red;
    margin-bottom: 10px;
}

.fp-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.fp-or {
    margin: 10px 0;
    font-size: 14px;
}

.fp-social-buttons {
    display: flex;
    gap: 10px;
}

.fp-social-button {
    width: 40px;
    height: 40px;
}

.fp-login {
    font-size: 14px;
    /* Updated font size */
    margin-top: 20px;
    /* Updated margin */
}

.fp-login-url {
    cursor: pointer;
    /* New cursor style */
    color: #0000ee;
    /* New text color */
}