.signup {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #f5f5dc;
    /* New background color */
}

.signup-title {
    margin-bottom: 30px;
    font-size: 36px;
    /* Updated font size */
    font-family: 'Brush Script MT', cursive;
    /* New font family */
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    /* New width constraints */
}

.signup-textarea {
    height: 40px;
    /* Updated height */
    line-height: 40px;
    font-size: 18px;
    /* Updated font size */
    margin: 10px 0 20px 0;
    /* Updated margin */
    resize: none;
    padding-left: 10px;
    border: 1px solid #000;
    /* New border */
    border-radius: 5px;
    /* New border radius */
}

.signup-submit-button {
    border-radius: 5px;
    margin: 15px 0;
    height: 40px;
    /* Updated height */
    font-size: 18px;
    /* Updated font size */
    background-color: #ffcccb;
    /* New background color */
    border: none;
    /* Removed border */
    cursor: pointer;
    /* New cursor style */
}

.signup-login {
    font-size: 14px;
    /* Updated font size */
    margin-top: 20px;
    /* Updated margin */
}

.signup-login-url {
    cursor: pointer;
    /* New cursor style */
    color: #0000ee;
    /* New text color */
}

.signup-error-message {
    color: red;
    margin-bottom: 5px;
}